*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-image: url('../images/2020-06-21-06-50-38-392.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique ;
    
} 

.Container{
    padding: 0 0 0 50px;
    margin: 30px 0 10px 30px  ;
}

.Container .buttons{
    margin-top: 20px;
    display : flex;
    justify-content: space-around;
    
    
}

.Container .buttons button :active {

  color: rgb(189, 119, 27);
}

.Container .buttons button:hover{
    color:rgba(14, 13, 13, 0.856) ;
    background-color: rgb(206, 148, 81);

}
.Quote{
    margin-top: 50px ;
    display: flex;
    justify-self: center;
    padding-left: 20%;
}

.Welcome h1{
    display: flex ;
    justify-content: center; 
    margin-top: 10px;
}

.Animation{
   display: flex   ;
   margin: 10px 10px 0px 0px ;
   animation:blinker 1s linear infinite ;
   justify-content: center;
   
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}
